body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.maplibregl-popup-content {
    max-height: 200px;
    overflow-y: auto;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    max-width: 400px;
    height: 70px;
}

header h1 {
    font-size: 1.5em;
}

#sidebar header {
    position: sticky;
    top: 0;
    background-color: #fafaf8;
    border-bottom: 1px solid #ccc;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    max-width: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    border-right: 1px solid #ccc;
    background-color: #fafaf8;

    transition: transform 500ms;
}

#sidebar.collapsed {
    transform: translateX(-400px);
}

#sidebar-content {
    flex-grow: 1;
    border-bottom: 1px solid #ccc;
}

#years-control {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

input[type='range'] {
    accent-color: #5755d9;
}

#playback-controls {
    width: 100%;
    padding-top: 10px;
}

#years-range {
    width: 100%;
}

#range-markers {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

#legend {
    padding: 10px;
}

#legend h4 {
    margin: 5px 0;
}

#tabs {
    display: flex;
    justify-content: space-around;
    padding-top: 15px
}

.tab:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tab.selected {
    font-weight: bold;
}

footer {
    padding: 0 10px;
}

footer p {
    font-family: monospace;
}