body {
  margin: 0;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.modal {
  z-index: 3;
}

#mapid {
  height: 100vh;
  z-index: 0;
}

#zoom-controls {
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 2;
}

#yearcontrol {
  text-align: center;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(240, 248, 255, 0.4);
}

#yearrange {
  width: 600px;
  margin: 0 10px 30px 10px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#yearrange::-webkit-slider-thumb {
  cursor: pointer;
}
#yearrange::-webkit-slider-runnable-track {
  cursor: pointer;
}
#yearrange::-moz-range-track {
  cursor: pointer;
}
#yearrange::-moz-range-thumb {
  cursor: pointer;
}

#legend-toggle {
  position: absolute;
  top: 4rem;
  left: 1rem;
  z-index: 2;
}

#legend {
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 1;
  border-top: 1px solid #5755d9;
}

#legend > object {
  height: 70vh;
  background-color: rgba(240, 248, 255, 0.8);
}

.icon-link {
  padding: 0;
  
}

.icon-link > svg {
  width: 1.5rem;
  color: #7877b6;
}

#info {
  position: absolute;
  bottom: 140px;
  right: 10px;
}

#wms {
  position: absolute;
  bottom: 100px;
  right: 10px;
}

#cite {
  position: absolute;
  bottom: 60px;
  right: 10px;
}

#github {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#language {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}





@media screen and (max-width: 786px) {
  #yearrange {
    width: 90%;
  }

  #yeartext {
    font-size: 1rem;
  }
}
